.editMap {
	position: absolute;
	left: 301px;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding: 0 15px;
}

.mapProperties {
	height: 80px;
	border-bottom: double black 3px;
}

.editMap .mapNameZone {
	height: 40px;
	line-height: 40px;
	width: 100%;
	border-bottom: 1px dashed black;
	margin-bottom: 5px;
}

.editMap .mapName {
	font-size: 24px;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 5px;
	font-family: "HeaderBlock", "Chicago", sans-serif;
}

.editMap .renameMap, .editMap .resizeMap {
	display: none;
}

.mapDetails {
	position: absolute;
	top: 83px;
	bottom: 50px;
	left: 15px;
	right: 15px;
	overflow: auto;
}

.mapCells {
	float: left;
	width: 70%;
	height: 100%;
	overflow: auto;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.mapCells .mapCol {
	float: left;
}

.mapCells .mapCol:nth-child(even) {
	margin-top: 10px;
}

.mapCells .mapCol .mapCell {
	width: 20px;
	height: 20px;
	border-top: 1px dashed black;
	border-right: 1px dashed black;
}

.mapCells .mapCol:first-child .mapCell {
	border-left: 1px dashed black;
}

.mapCells .mapCol .mapCell:last-child {
	border-bottom: 1px dashed black;
}

.mapTerrainTypes {
	float: right;
	width: 28%;
	width: -moz-calc(30% - 1px);
	width: -webkit-calc(30% - 1px);
	border-left: 1px solid black;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	overflow: auto;
}

.terrainSelectionBox {
	width: 100%;
}

.terrainType, .selectedTerrainTypeZone {
	clear: both;
	margin: 5px;
}

.selectedTerrainTypeZone {
	border-top: 2px dashed black;
	padding-top: 5px;
}

.terrainSelect, .selectedTerrainType {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px dashed black;
}

.terrainSelect {
	cursor: pointer;
}

.terrainTypeName {
	display: block;
	height: 52px;
	line-height: 52px;
}

.selectedTerrainTypeName {
	display: none;
}

.selectedTerrainTypeName:before {
	content: " (";
}

.selectedTerrainTypeName:after {
	content: ")";
}
