.unplaced {
	font-style: italic;
}

.mapCells {
	float: left;
	width: 50%;
	width: -moz-calc(100% - 602px);
	width: -webkit-calc(100% - 602px);
	width: calc(100% - 602px);
	height: 100%;
	overflow: auto;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.mapCells .mapCol {
	float: left;
}

.mapCells .mapCol:nth-child(even) {
	margin-top: 20px;
}

.mapCells .mapCol .mapCell {
	width: 40px;
	height: 40px;
	border-top: 1px dashed black;
	border-right: 1px dashed black;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	position: relative;
}

.mapCells .mapCol:first-child .mapCell {
	border-left: 1px dashed black;
}

.mapCells .mapCol .mapCell:last-child {
	border-bottom: 1px dashed black;
}

.mapCell .character {
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 12px;
	position: relative;
}

.mapCell.hovered {
	-webkit-transform: rotate(3deg) scale(1.2);
	z-index: 1;
}

.mapCell.hovered:after, .oneChar.hovered:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 0, 0.4);
}

.mapCell.selected:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.65);
}

.mapCell.reachable:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 3px dashed white;
}

.mapCell.inPath:after {
	border-color: red;
}

.mapCell.inPath:before {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 50%;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #333;
	background: #ff8;
	content: attr(data-movecost);
}

.mapCell.selected:before {
	display: none;
}

/* progress bar CSS from http://css-tricks.com/css3-progress-bars/ */
.content .apArea {
	position: absolute;
	bottom: 0;
	border: none;
	height: auto;
	width: 280px;
	padding: 0 10px;
}

.apMeter {
	height: 20px;
	position: relative;
	background: #aaa;
	border: 10px #555 solid;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.apMeter .apRemaining {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.apMeter .apRemaining:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.charInfo {
	position: relative;
	width: 300px;
	height: 100%;
	float: right;
	border-left: 1px solid black;
	background-color: rgba(50, 50, 50, 0.75);
	color: white;
}

.charInfo .charHeader {
	line-height: 30px;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
	font-style: italic;
	background-color: rgba(50, 50, 50, 0.9);
	border-top: 1px solid #aaa;
	border-bottom: 2px solid #aaa;
	font-family: "HeaderBlock", "Chicago", sans-serif;
}

.charInfo .charStats {
	position: relative;
	padding-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 24px;
}

.charInfo .charInfoContents {
	visibility: hidden;
}

.charInfo .attrName {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.charInfo .attrName:after {
	content: ":";
}

.charInfo .attrVal {
	display: inline-block;
}

.charInfo .attrMod {
	font-size: 14px;
	margin-left: 4px;
	font-weight: bold;
	display: inline-block;
	text-shadow: -1px 0 black, 1px 0 black, 0 -1px black, 0 1px black, 2px 2px 2px rgba(30, 30, 30, 0.8);
	letter-spacing: 3px;
}
.charInfo .attrMod:before {
	content: "(";
}
.charInfo .attrMod:after {
	content: ")";
}

.charInfo .negative {
	color: #F55;
}

.charInfo .positive {
	color: #4F4;
}
