{% load url from future %}

<html>
	<head>
		<title>{% block title %}Everybody Fights{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css"/>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<div id="csrf" style="display: none">
			{% csrf_token %}
		</div>
		<div class="header">
			{% block header %}
			<div class="menu">
				<div class="menuItem" data-submenu="games">Games</div>
				<div class="menuItem" data-submenu="create">Create</div>
				<div class="menuItemHighlight"></div>
				<div class="subMenus">
					<div class="subMenu subMenu-games">
						<a class="subMenuItem" href="{% url "fight.views.createGame" %}">Create Game</a>
						<a class="subMenuItem">Join Game</a>
						<a class="subMenuItem" href="{% url "fight.views.currentGames" %}">Current Games</a>
					</div>
					<div class="subMenu subMenu-create">
						<a class="subMenuItem" href="{% url "fight.views.createMap" %}">Manage Created Maps</a>
						<a class="subMenuItem" href="{% url "fight.views.createChar" %}">Manage Created Character Types</a>
						<a class="subMenuItem">Manage Created Character Sets</a>
					</div>
				</div>
				<div class="headerTitle">{% block headerTitle %}{% endblock %}</div>
			</div>
			{% endblock %}
		</div>

		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<div class="dialogs">
			{% block dialogs %}{% endblock %}
			<div id="loadingOverlay">
				<div class="loadingIcon"></div>
				<div class="loadingBack"></div>
			</div>
		</div>

		<div id="data">
			{% block data %}{% endblock %}
		</div>

		{% include "jsIncludes.html" %}
		{% block scripts %}{% endblock %}
		<script type="text/javascript">
			user = new User({
				"username": "{{ user.username|escapejs }}",
				"id": Number({{ user.id }})
			});
		</script>
	</body>
</html>