<html>
	<head>
		<title>{% block title %}Everybody Fights{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css"/>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<div class="header">
			{% block header %}
			<div class="menu">
				<div class="menuItem">Games</div>
				<div class="menuItem">Create</div>
				<div class="menuItemHighlight"></div>
			</div>
			{% endblock %}
		</div>

		<div class="mainContent">
			{% block content %}{% endblock %}
		</div>

		{% include "jsIncludes.html" %}
		{% block scripts %}{% endblock %}
	</body>
</html>