{% extends "base.html" %}

{% load defaultTags %}

{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/CreateMapView.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/createMap.css"/>
	<style type="text/css">
		{% for tType in terrainTypes %}
		.terrain-{{ tType.id }} {
			background-color: {{ tType.color }};
		}
		{% endfor %}
	</style>
{% endblock %}

{% block content %}
<div class="selectMap selector">
	<div class="newMap"><div class="itemName">New Map...</div><div class="itemBack"></div></div>
	{% for m in createdMaps %}
		<div class="viewMap" data-mapid="{{ m.id }}"><div class="itemName">{{ m.name }}</div><div class="itemBack"></div></div>
	{% endfor %}
</div>

<div class="editMap">
	<div class="mapProperties">
		<div class="mapNameZone"><span class="mapName">---</span><a href="#" class="renameMap">rename</a></div>
		<div class="mapDimensionsZone">
			<label for="mapWidth">Width: </label><input type="number" id="mapWidth" step="1" max="100" min="2" disabled/>
			<label for="mapHeight">Height: </label><input type="number" id="mapHeight" step="1" max="100" min="2" disabled/>
			<a href="#" class="resizeMap">resize</a>
		</div>
	</div>
	<div class="mapDetails">
		<div class="mapCells"></div>
		<div class="mapTerrainTypes">
			<div class="terrainSelectionBox">
				{% for tType in terrainTypes %}
				<div class="terrainType">
					<div class="terrainSelect terrain-{{ tType.id }}" data-terrainid="{{ tType.id }}"></div>
					<span class="terrainTypeName">{{ tType.name }}</span>
				</div>
				{% endfor %}
				<div class="selectedTerrainTypeZone">
					<div class="selectedTerrainType"></div>
					<span class="terrainTypeName">Selected<span class="selectedTerrainTypeName"></span></span>
				</div>
				<button class="fillTerrain">Fill Map</button>
			</div>
		</div>
	</div>
	<div class="saveMap" title="Resize and rename save automatically">Save Terrain Changes</div>
</div>
{% endblock %}

{% block data %}
	<input type="hidden" id="data-createdMaps" value="{{ createdMaps|json }}"/>
	<input type="hidden" id="data-cells" value="{{ cells|json }}"/>
	<input type="hidden" id="data-terrainTypes" value="{{ terrainTypes|json }}"/>
{% endblock %}