{% extends "base.html" %}

{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/CreateGameView.js"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/createGame.css"/>
{% endblock %}

{% block headerTitle %}Create Game{% endblock %}

{% block content %}
	<div class="gameSettingsZone">
		<div class="gameSettings">
			<div class="settingsArea minPlayers" data-field="minPlayers">
				<div class="settingsHeader">Min # Players</div>
				<div class="settingsOptions">
					{% for num in num_player_choices %}
					<div class="settingsOption{% if num == defaults.minPlayers %} default{% endif %}" data-val="{{ num }}">{{ num }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="settingsArea maxPlayers" data-field="maxPlayers">
				<div class="settingsHeader">Max # Players</div>
				<div class="settingsOptions">
					{% for num in num_player_choices %}
					<div class="settingsOption{% if num == defaults.maxPlayers %} default{% endif %}" data-val="{{ num }}">{{ num }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="settingsArea gameType" data-field="gameType">
				<div class="settingsHeader">Game Type</div>
				<div class="settingsOptions">
					{% for short,long in GAME_TYPE_CHOICES %}
					<div class="settingsOption" data-val="{{ short }}">{{ long }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="settingsArea budget" data-field="budget">
				<div class="settingsHeader">Budget</div>
				<div class="settingsOptions">
					{% for budget in budget_choices %}
					<div class="settingsOption" data-val="{{ budget }}">{{ budget }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="settingsArea map" data-field="mapObj">
				<div class="settingsHeader">Map</div>
				<div class="settingsOptions">
					{% for m in maps %}
					<div class="settingsOption" data-val="{{ m.id }}">{{ m }}</div>
					{% endfor %}
				</div>
			</div>

			<div class="finalSettings">
				<div class="settingsHeader">Name and Map</div>
				<div class="settingsOptions">
					<label for="newGameName">Game Name:</label>
					<input type="text" id="newGameName" value="New Game" data-field="name"/>
				</div>
				<div class="bigButton cancelSettings">Cancel</div>
			</div>
		</div>
	</div>
	<div class="createGame bigButton disabled">Create!</div>
{% endblock %}

{% block data %}

{% endblock %}