{% extends "base.html" %}

{% load defaultTags %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/playGame.css"/>
	<style type="text/css">
		{% for tType in terrainTypes %}
		.terrain-{{ tType.id }} {
			background-color: {{ tType.color }};
		}
		{% endfor %}

		/* numbered by playerNum (not id) */
		{% for c in colors %}
		.ownedBy-{{ forloop.counter }} {
			background-color: {{ c }};
		}
		.gamePlayer-{{ forloop.counter }} {
			color: {{ c }};
		}
		{% endfor %}
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/PlayGameView.js"></script>
{% endblock %}

{% block content %}
	<div class="characterSelector selector">
		{% for char in playerChars %}
		<div class="oneChar{% if not char.cell%} unplaced{% endif %}" data-id="{{ char.id }}" id="gameCharacterSelect_{{ char.id }}">
			<div class="itemName">{{ char.character.name }}</div>
			<div class="itemBack"></div>
		</div>
		{% endfor %}
		<div class="apArea">
			<div class="apTitle">AP Remaining: <span class="apRemainingDisp">{{ game.currentGamePlayer.apRemaining }}</span>/<span class="totalApDisp">{{ game.maxAP }}</span></div>
			<div class="apMeter">
				<span class="apRemaining" style="width: {{ game.currentGamePlayer.apRemaining|percentOf:game.maxAP }}%;">
			</div>
		</div>
	</div>
	<div class="mapCells">
		<div class="map">
			{% for mapCol in mapCols %}
			<div class="mapCol">
				{% for cell in mapCol %}
				<div class="mapCell terrain-{{ cell.origCell.terrain.id }}" id="gameCell_{{ cell.id }}" data-gamecellid="{{ cell.id }}">
					{% if cell.gamecharacter %}
					{% with char=cell.gamecharacter %}
					<div class="character ownedBy-{{ char.owner.playerNum }} character-{{ char.character.id }}" id="gameCharacter_{{ char.id }}" data-id="{{ char.id }}"></div>
					{% endwith %}
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			<div style="clear: both"></div>
		</div>
	</div>
	<div class="actionMenu">
		<div class="menuOpener">Actions</div>
		<div class="menuBody">
			<div class="menuAction endTurn">End Turn</div>
			<div class="menuAction forfeit">Forfeit</div>
		</div>
	</div>
	<div class="charInfo">
		<div class="charHeader"></div>
		<div class="charInfoContents">
			<div class="charStats">
				{% for a in attributes %}
				{% if a.name != "cost" %}
				<div class="oneAttr" data-attrid="{{ a.id }}" data-attrname="{{ a.name }}">
					<div class="attrName">{{ a.name|wordify }}</div>
					<div class="attrVal"></div>
					<div class="attrMod"></div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block data %}
<input id="data-game" value="{{ game|json }}"/>
<input id="data-cells" value="{{ cells|json }}"/>
<input id="data-gameCells" value="{{ gameCells|json }}"/>
<input id="data-gamePlayers" value="{{ gamePlayers|json }}"/>
<input id="data-terrainTypes" value="{{ terrainTypes|json }}"/>
<input id="data-terrainModifiers" value="{{ terrainModifiers|json }}"/>
<input id="data-terrainRequirements" value="{{ terrainRequirements|json }}"/>
<input id="data-gameCharacters" value="{{ gameCharacters|json }}"/>
<input id="data-characters" value="{{ characters|json }}"/>
<input id="data-characterAttributes" value="{{ characterAttributes|json }}"/>
<input id="data-attributes" value="{{ attributes|json }}"/>
<input id="data-modifiers" value="{{ modifiers|json }}"/>
<input id="data-cellModifiers" value="{{ cellModifiers|json }}"/>
<input id="data-characterModifiers" value="{{ characterModifiers|json }}"/>
{% endblock %}
